<!-- PRODUCTION VERSION -->

<div id="all-logos-container">

    <div class="logo-container center">
        <a href="https://ethz.ch"><img src="/tu-pro_website/assets/img/eth_logo.png" alt="ETH Zurich" class="footer-logo"/></a>
    </div>

    <div class="logo-container center">
        <a href="https://www.roche.com"><img src="/tu-pro_website/assets/img/roche_logo.png" alt="Roche" class="footer-logo"/></a>
    </div>

    <div class="logo-container center">
        <a href="https://www.unispital-basel.ch/"><img src="/tu-pro_website/assets/img/usb_logo.png" alt="University Hospital Basel" class="footer-logo"/></a>
    </div>

    <div class="logo-container center">
        <a href="https://www.usz.ch/"><img src="/tu-pro_website/assets/img/usz_logo.png" alt="University Hospital Zurich" class="footer-logo"/></a>
    </div>

    <div class="logo-container center">
        <a href="https://www.uzh.ch/"><img src="/tu-pro_website/assets/img/uzh_logo.png" alt="University of Zurich" class="footer-logo"/></a>
    </div>
    
</div>



<!-- DEVELOPMENT VERSION -->

{% comment %} <div id="all-logos-container">

    <div class="logo-container center">
        <a href="https://ethz.ch"><img src="/assets/img/eth_logo.png" alt="ETH Zurich" class="footer-logo"/></a>
    </div>

    <div class="logo-container center">
        <a href="https://www.roche.com"><img src="/assets/img/roche_logo.png" alt="Roche" class="footer-logo"/></a>
    </div>

    <div class="logo-container center">
        <a href="https://www.unispital-basel.ch/"><img src="/assets/img/usb_logo.png" alt="University Hospital Basel" class="footer-logo"/></a>
    </div>

    <div class="logo-container center">
        <a href="https://www.usz.ch/"><img src="/assets/img/usz_logo.png" alt="University Hospital Zurich" class="footer-logo"/></a>
    </div>

    <div class="logo-container center">
        <a href="https://www.uzh.ch/"><img src="/assets/img/uzh_logo.png" alt="University of Zurich" class="footer-logo"/></a>
    </div>
    
</div> {% endcomment %}
